#hero{
    width: 50%;
    margin: 0 auto;
    display :block;
}

.container button{
    margin: 10px 0;
    background-color: #0C695D;
    font-family: Inter;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px 50px;
} 
.container button:hover {
    background-color: #37AFA9;
    cursor: pointer;
}  