@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

a:visited{
    color: #152339;
}
/*
#37AFA9 lighter teal
#2D8E87 teal
#0C695D darker teal
#E0F2F2 vary light baby blue
#152339 dark blue
*/
.container button{
    margin: 10px 0;
    background-color: #0C695D;
    font-family: Inter;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px 50px;
} 
.container button:hover {
    background-color: #37AFA9;
    cursor: pointer;
}  

#uploadBtn{
    background-color: #0C695D;
    font-family: Inter;
    padding: 10px 20px;
}

#uploadBtn:hover {
    background-color: #37AFA9;
}  

#stateSelect{
    margin: 20px 0;
}