.footer {
    text-align: center; 
    font-size: 14px;
    margin-top: 40px;
  }
  
  .contact a {
    font-size: 20px;
    color: #040404;
    text-decoration: none;
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social a {
    margin: 0 10px;
    font-size: 24px;
    color: #484747;
    text-decoration: none;
  }
  
  .social a:hover {
    color: #32f5e8;
  }
  
  .social i {
    margin-right: 10px;
  }
  