/* head style*/
.logo h1 {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ff9800;
    letter-spacing: 2px;
    text-shadow: 3px 3px #333;
  }
.logo img {
    width: 15%;
}  

/* header style*/
header {
    background-color: #fffcfc;
}
header ul {  
    list-style: none;   
}
header li {
    margin-left: 40px;
}
header ul li a {
    color: #1eb2a6;
    font-size: 20px;
    transition: 0.5s;  
}
header ul li a:hover {
    color: #f68606;
}
select {
    font-size: 20px;
    margin-left: 100px;
    border: none;
    background-color: white;
    color: #1eb2a6;
  }
  
  select:focus {
    outline: none;
  } 
  
  select option {
    font-size: 16px;
    background-color: white;
    color: #f28407;
  }
  