.logo h2 {
  margin: 10px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 3px;
  color: #0C695D;
}

.logo img {
width: 25%; /* reduce the width of the image to 30% */
margin-left: 20px;
}  

.logo {
display: flex;
align-items: center;
margin-left: 400px; 
}


/* header style*/
header {
  padding: 10px;
  background-color: #f8fbfb;
}

header ul {  
  list-style: none;   
}

header li {
  margin-left: 40px;
}

header ul li a {
  color: #1eb2a6;
  font-size: 20px;
  transition: 0.5s;  
}

header ul li a:hover {
  color: #0C695D;
}

select {
  font-size: 20px;
  margin-left: 100px;
  border: none;
  background-color: white;
  color: #1eb2a6;
}
  
