/* body {
  margin: 0;
  background-color: #E0F2F2;
  font-family: Inter;
  color: #152339;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
 


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Neon&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: #E0F2F2;
} 
.container{
  max-width: 100%;
  margin: auto;
}
.flexSB {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} 
a {
  text-decoration: none;
  
}


