/*  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
 


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 30;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: rgb(156,217,228);
  background: linear-gradient(90deg, rgba(156,217,228,1) 0%, rgba(195,246,247,1) 35%, rgba(214,238,244,1) 100%);
} 
.container{
  max-width: 85%;
  margin: auto;
}
.flexSB {
  display: flex;
  justify-content: center;
  
}
.icon {
  width: 40px; 
  height: 40px; 
  line-height: 40px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #1eb2a6;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff
}
a {
  text-decoration: none;
  
}
.Button:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}
